# OpenAI
OPENAI_API_KEY="your_openai_api_key_here"

# Anthropic
ANTHROPIC_API_KEY="your_anthropic_api_key_here"

# Grok
GROK_API_KEY="your_grok_api_key_here"

# Gemini
GEMINI_API_KEY="your_gemini_api_key_here"

# Deepseek
DEEPSEEK_API_KEY="your_deepseek_api_key_here"

# Development Configs
LITELLM_MASTER_KEY="your_master_key_here"
DATABASE_URL="postgresql://llmproxy:dbpassword9090@db:5432/litellm"
STORE_MODEL_IN_DB="True"
